setuptools~=70.0.0
fastapi==0.116.1
pydantic==2.11.7
httpx==0.28.1
pydantic-settings==2.10.1
sqlalchemy[asyncio]==2.0.41
motor~=3.6.0
starlette==0.47.1

# Testing dependencies
pytest==8.4.1
pytest-asyncio==1.0.0
aiosqlite==0.21.0